@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


.reg section {  
    max-width: 800px;
    min-height: 400px;
    display: flex;       
    flex-direction: column;
    justify-content: flex-start;
    padding: 6rem;
    align-items: normal;
    margin: auto;
    background-color: rgba(232, 232, 238, 0.933);
}

.reg form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    margin-top: auto;    
}
.reg form label {
   line-height: 20px;
   font-size: small;
}
.reg form .input {    
   
   font-size: small;
 }

.reg a, a:visited {
    color: #791010;
}

.reg input[type="text"],
.reg input[type="password"],
.reg button,
.reg textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.reg label {
  margin-top: 1rem;
}

.reg button {
    margin-top: 1rem;
    color: aliceblue;
  }

.reg button {
  padding: 0.5rem;
}

.reg .instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.reg .instructions > svg {
    margin-right: 0.25rem;
}

.reg .offscreen {
    position: absolute;
    left: -9999px;
}

.reg .hide {
    display: none;
}

.reg .valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.reg .invalid {
    color: red;
    margin-left: 0.25rem;
}

.reg .errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.reg .line {
    display: inline-block;
}